.css-game-info{
    .css-info-title{
        font-size: 20px;
        text-align: center;
        margin: 6px 0 26px 0;
        text-decoration: underline;
        color: $_orangeText;
    }
    .css-info-options{
        padding-left: 12px;
        .css-info-option{
            font-size: 18px;
            margin: 10px 0;
        }
    }
}