.css-players-statistic{
    display: flex;
    flex-direction: column;
    .css-stat-player {
        display: flex;
        padding: 4px 0;
        .css-player-stat-name{
            font-size: 20px;
            margin-right: 12px;
            min-width: 90px;
            max-width: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .css-player-total {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 12px;
            .css-player-total-value {
                color: white;
            }
            &.yellows{
                background-color: $_orangeText;
            }
            &.reds{
                background-color: $_redText;
            }
            &.bulls{
                .css-player-stat-bull{
                    opacity: 0.2;
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    position: relative;
                }
                .css-player-total-value {
                    position: absolute;
                    color: #737373;
                }
            }
            &.all{
                width: 40px;
                margin: 0;
                border: 1px solid $_mainBorderColor;
                border-radius: 6px;
                .css-player-total-value {
                    color: inherit;
                }
            }
        }
    }
}